{{ define "main" }}

<section id="archive">
    {{ range .Data.Pages.GroupByDate "2006" }}
        <div class="group">
            <h3 class="key">
                {{ .Key }}
            </h3>

            {{ range .Pages }}
                <div class="value">
                  
                  <div class="title">
                      <a href="{{ .Permalink }}">
                          {{ .Title }}
                      </a>
                  </div>
                  <div class="date">
                    {{ .Date.Format "January 2" }}
                </div>
                </div>
            {{ end }}          
        </div>
    {{ end }}


</section>


{{ end }}